@model game_collection.Models.RegisterViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container  ">
    <div class="row align-items-center vh-100">
        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <form>
                    <header>
                        <h1>Lets Sign you in</h1>
                        <p class="lead">Welcome back, You've been missed</p>
                    </header>
                    <main>
                        <div class="d-grid gap-4">
                            @* USERNAME *@
                            <div class="form-group">
                                <input class="form-control form-control-lg" asp-for="Username" type="text"
                                    placeholder="Username" />
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>

                            @* PASSWORD *@
                            <div class="form-group">
                                <input class="form-control form-control-lg" asp-for="Password" type="text"
                                    placeholder="Password" />
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>

                            @* CHECKBOX *@
                            <div class="d-flex justify-content-between px-2 mb-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" checked />
                                    <label class="form-check-label form-check-label-lg"> Remember me </label>
                                </div>
                                <a href="#!">Forgot password?</a>
                            </div>

                            @* SUBMIT BUTTON *@
                            <button type="submit" class="btn btn-lg btn-primary">Login</button>

                            @* LINK TO REGISTRATION PAGE *@
                            <div class="text-center">
                                <p class="small mt-3 fw-bold">Don't have an account? <a asp-area=""
                                        asp-controller="Account" asp-action="Registration">Register</a>></p>
                            </div>
                        </div>
                    </main>
                </form>
            </div>
        </div>
    </div>
</div>
